<ul class="small-nav-list">
    <!--TODO: 해당페이지 메뉴에 active 클래스 추가-->
    <li class="active">
        <a href="index.html"><span>대출이자계산기</span></a>
    </li>
    <li class="menu-has-children">
        <a href="#"><span>예금/적금 계산기</span></a>
        <ul class="submenu">
            <li class="active"><a href="savings-goals-calc.html"><span>목돈 굴리기 계산기</span></a></li>
            <li><a href="monthly-savings-calc.html"><span>적금 계산기 - 월 납입액</span></a></li>
            <li><a href="maturity-savings-calc.html"><span>적금 계산기 - 만기지급액</span></a></li>
        </ul>
    </li>
    <li class="menu-has-children">
        <a href="#"><span>연봉계산기</span></a>
        <ul class="submenu">
            <li><a href="salary-calc.html"><span>연봉 계산기</span></a></li>
            <li><a href="year-salary-table.html"><span>연봉 실수령액 표</span></a></li>
            <li><a href="monthly-salary-table.html"><span>월급 실수령액 표</span></a></li>
        </ul>
    </li>
    <li><a href="floor-space-calc.html"><span>평형 계산기</span></a></li>
</ul>

<ul class="nav-list">
    <li class="active">
        <a href="index.html"><span>대출이자계산기</span></a>
    </li>
    <li class="menu-has-children">
        <a href="#"><span>예금/적금 계산기</span></a>
        <ul class="submenu">
            <li><a href="savings-goals-calc.html"><span>목돈 굴리기 계산기</span></a></li>
            <li><a href="monthly-savings-calc.html"><span>적금 계산기 - 월 납입액</span></a></li>
            <li><a href="maturity-savings-calc.html"><span>적금 계산기 - 만기지급액</span></a></li>
        </ul>
    </li>
    <li class="menu-has-children">
        <a href="#"><span>연봉계산기</span></a>
        <ul class="submenu" style="display: none">
            <li><a href="salary-calc.html"><span>연봉 계산기</span></a></li>
            <li><a href="year-salary-table.html"><span>연봉 실수령액 표</span></a></li>
            <li><a href="monthly-salary-table.html"><span>월급 실수령액 표</span></a></li>
        </ul>
    </li>
    <li><a href="floor-space-calc.html"><span>평형 계산기</span></a></li>
</ul>
