<h2>최근 계산</h2>
<table class="table">
    <tr>
        <th>대출금</th>
        <th>금리</th>
        <th>기간</th>
        <th>상환</th>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
    <tr>
        <td>80,000,000</td>
        <td>1.20%</td>
        <td>24개월</td>
        <td>원리금균등</td>
    </tr>
</table>